.historiaContainer {
    background-color: rgba(255, 255, 255, 0.849);
    margin: 0 20%;
    overflow: hidden;
    color: #252314;
    padding: 20px;
    border-radius: 5px;
    transition: 0.8s;
    border: #252314 2px solid;
    height: auto;
}


.historiaContainer h2 {
    text-align: center;
}

.historiaContainer hr {
    border: 1.5px solid #922136;
    margin: 2% 20%;
}

.historiaTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #252314;
    border-bottom: 4px solid #922136;
    margin: 0 35%;
    font-size: 2vw;
}

.historiaContainer small,
.historiaTitle small {
    color: #252314;
    font-size: 1.6vw;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}