.inicioContainer {
    background-color: rgb(255, 255, 255);
    margin: 0 20%;
    overflow: hidden;
    color: #252314;
    padding: 20px;
    transition: 0.9s;
    border-radius: 10px;
}

.inicioContainer:hover {
    scale: 1.05;
    transform: scale(1.02);
    box-shadow: 14px 14px 50px rgb(0, 0, 0);
}
.inicioContainer:hover p {
    font-size: 1.9em;
}

.welcomeFoto {
    float: left;
    width: 25vw;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 3vw;
}

p {
    font-size: 1.6vw;
    color: black;
    text-transform: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr {
    border: 1.5px solid #922136;
    margin-right: 20%;
}