.navFixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(44, 29, 29);
    z-index: 5;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 10px;
    transition: all 0.3s ease;
}
#slider{
    width: 1000vw;
}
.containerFixed {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}


.navFixed.smaller {
    padding: 4px 50px;
    transform: scaleY(1);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 10px black;
    transition: all 0.8s ease;
}

.navFixed.smaller .item {
    margin: 1vw 0;
    font-size: 1.5em;
}

.navFixed.smaller .logo {
    width: 12vw;
    transition: all 0.8s ease;
}



a {
    color: #DCBE60;
    text-decoration: none;
    font-size: 1.8em;
    transition: border-color 0.3s;
    text-transform: uppercase;
}

a:hover {
    cursor: pointer;
    scale: 1.1;
}

.logo {
    width: 20vw;
    height: auto;
    margin-left: 2vw;
}

.logos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.item {
    margin: 3vw 0;
}

.item:hover {
    border-bottom: 4px solid #DCBE60;
}

.item.active {
    border-bottom: 5px solid #ddb231;
    /* ou muda a cor do texto, bg etc */
    color: #ddb231;
}