* {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.6vw;
    color: white;
    font-family:'playfair display', serif;
}

.bground {
    background-image: url("../imagens/bg.png");
    background-attachment: fixed;
    /* ou remova esse */
    background-size: 100% auto;
    /* largura cheia, altura proporcional */
    background-position: center top;
    background-repeat: no-repeat;
}

small {
    color: #252314;
    text-align: center;
}

h1 {
    color: #252314;
    text-align: center;
}