@media screen and (min-width: 1200px) {
    body {
        font-size: 1vw;
    }

    .logo {
        width: 10vw;
    }

    .welcomeFoto {
        width: 20vw;
    }
}

/* Telas médias (tablets e laptops entre 768px e 1199px) */
@media screen and (max-width: 1199px) {
    body {
        font-size: 1.4vw;
    }

    .container,
    .containerFixed {
        flex-direction: row;
        align-items: center;
    }

    .item {
        margin: 1vw 0;
        font-size: 1em;
    }

    .logo {
        width: 25vw;
        margin: 10px 0;
    }

    .logos {
        flex-direction: row;
        margin: 2%;
    }

    .separador {
        margin: 1vw;
    }

    .welcomeFoto {
        width: 40vw;
        float: none;
        display: block;
        margin: 0 auto 20px auto;
    }

    .inicioContainer,
    .historiaContainer {
        margin: 5%;
    }

    .historiaTitle {
        margin: 0 20%;
    }

    .horarios {
        margin: 10%;
        flex-direction: row;
        align-items: center;
    }

    iframe {
        width: 90%;
        height: auto;
    }
}

/* Telas pequenas (celulares até 767px) */
@media screen and (max-width: 767px) {
    body {
        font-size: 4vw;
    }

    .logo {
        width: 40vw;
    }

    .container,
    .containerFixed {
        transform: scaleY(1);
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        font-size: 2vw;
        height: 50%;
    }

    .navFixed {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(44, 29, 29);
        position: fixed;
        width: 100%;
        top: 0;
        padding: 0;
        gap: 20px;
        z-index: 5;
        transition: all 0.3s ease;
    }

    .containerFixed {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
    }

    .navFixed.smaller {
        padding: 4px 50px;
        transform: scaleY(1);
        background-color: rgb(0, 0, 0);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        transition: all 0.3s ease;
    }

    .navFixed.smaller .item {
        margin: 1vw 0;
        font-size: 1.5em;
        transition: all 0.3s ease;
    }

    .navFixed.smaller .logo {
        width: 12vw;
        transition: all 0.3s ease;
    }


    .item {
        font-size: 1em;
        margin: 10px 0;
    }

    .logos {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .welcomeFoto {
        width: 80vw;
    }

    .inicioContainer,
    .historiaContainer {
        margin: 5%;
        padding: 10px;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
    }

    p,
    .historiaContainer small,
    .historiaTitle small {
        font-size: 4vw;
    }

    .horarios {
        flex-direction: column;
        margin: 5%;
    }

    .historiaTitle {
        margin: 0 10%;
    }

    iframe {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .reserva {
        width: 15vw;
        height: 25vw;
        top: 10%;
        border-radius: 8px 0 0 8px;
    }
}

@media (max-width: 480px) {
    .reserva {
        width: 20vw;
        height: 30vw;
        top: 8%;
    }
}