/* -------------------------------------------------- */
/* RESET GERAL */
/* -------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.6vw;
    color: white;
    background-color: white;
}

.bground {
    background-image: url("../imagens/bg.png");

    background-attachment: fixed;
    /* ou remova esse */
    background-size: 100% auto;
    /* largura cheia, altura proporcional */
    background-position: center top;
    background-repeat: no-repeat;
}


/* -------------------------------------------------- */
/* NAVEGAÇÃO FIXA */
/* -------------------------------------------------- */
.navFixed {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(44, 29, 29);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    gap: 20px;
    z-index: 5;
    transition: all 0.3s ease;
}

.containerFixed {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.navFixed.smaller {
    padding: 4px 50px;
    transform: scaleY(1);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

.navFixed.smaller .item {
    margin: 1vw 0;
    font-size: 0.75em;
    transition: all 0.3s ease;
}

.navFixed.smaller .logo {
    width: 12vw;
    transition: all 0.3s ease;
}

/* -------------------------------------------------- */
/* NAVEGAÇÃO / LINKS / LOGO */
/* -------------------------------------------------- */
.container {
    z-index: 7;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(44, 29, 29);
    padding: 0;
}

a {
    color: #DCBE60;
    text-decoration: none;
    font-size: 0.9em;
    transition: border-color 0.3s;
    text-transform: uppercase;
}

a:hover {
    cursor: pointer;
}

.logo {
    width: 20vw;
    height: auto;
    margin-left: 2vw;
}

.logos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.item {
    margin: 3vw 0;
}

.item:hover {
    border-bottom: 4px solid #DCBE60;
}

/* -------------------------------------------------- */
/* RESERVA FIXA */
/* -------------------------------------------------- */
.reserva {
    position: fixed;
    right: 0;
    border-radius: 10px 0 0 10px;
    margin-top: 5%;
    z-index: 3;
}

/* -------------------------------------------------- */
/* IMAGEM ROTATIVA (CARROSSEL) */
/* -------------------------------------------------- */
#slider {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.inicial {
    animation: fadeInZoom 0.5s ease-out forwards;
}

.entrando {
    animation: descer 1s ease-out forwards;
}

.saindo {
    animation: subir 1s ease-out forwards;
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes descer {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes subir {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}

/* -------------------------------------------------- */
/* CONTAINER INICIAL - APRESENTAÇÃO */
/* -------------------------------------------------- */
.inicioContainer {
    background-color: rgba(255, 255, 255, 0.623);
    margin: 0 20%;
    overflow: hidden;
    color: #252314;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 20px;
    transition: 0.8s;
}

.inicioContainer:hover {
    scale: 1.05;
    transform: scale(1.02);
    box-shadow: 14px 14px 50px rgb(0, 0, 0);
}

.welcomeFoto {
    float: left;
    width: 25vw;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 3vw;
}

p {
    font-size: 1.6vw;
    color: black;
    text-transform: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr {
    border: 1.5px solid #922136;
    margin-right: 20%;
}

/* -------------------------------------------------- */
/* SEÇÃO HISTÓRIA */
/* -------------------------------------------------- */
.historiaContainer {
    background-color: rgba(255, 255, 255, 0.623);
    margin: 0 20%;
    overflow: hidden;
    color: #252314;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 20px;
    transition: 0.8s;
}

.historiaContainer:hover {
    scale: 1.05;
    transform: scale(1.02);
    box-shadow: 14px 14px 50px rgb(0, 0, 0);
}

.historiaContainer h2 {
    text-align: center;
}

.historiaContainer hr {
    border: 1.5px solid #922136;
    margin: 2% 20%;
}

.historiaTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #252314;
    border-bottom: 4px solid #922136;
    margin: 0 35%;
}

.historiaContainer small,
.historiaTitle small {
    color: #252314;
    font-size: 1.6vw;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

/* -------------------------------------------------- */
/* SEÇÃO HORÁRIOS */
/* -------------------------------------------------- */
.horarios {
    background-color: rgba(255, 255, 255, 0.075);
    color: gray;
    display: flex;
    border: 1.5px solid black;
    margin: 1% 20% 5% 20%;
    padding: 5% 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    text-align: center;
}

.dia {
    display: flex;
    border-bottom: 2.5px solid #922136;
    padding: 0;
    color: #252314;
    margin: 0 5% 1% 0%;
}

.domingo-segunda,
.sexta-sabado {
    color: #252314;
}

.sexta-sabado {
    margin: 0 1% 1% 1%;
}

/* -------------------------------------------------- */
/* ELEMENTOS GERAIS */
/* -------------------------------------------------- */
.imagemRotativa {
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
}

small {
    color: #922136;
}

h1 {
    color: #252314;
    text-align: center;
}

.videos {
    background-color: white;
}

.videosContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

iframe {
    border: 2px solid black;
    border-radius: 20px;
}

iframe {
    margin-top: 2%;
    overflow: hidden;
    color: #252314;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 20px;
    transition: 0.5s;
    background-color: black;
}

iframe:hover {
    scale: 1.05;
    transform: scale(1.02);
    box-shadow: 14px 14px 50px rgb(0, 0, 0);
}

.videoTitle {
    margin-right: 20%;
    margin-left: 20%;
    border-bottom: 6px solid #922136;
}

.titleVideo {
    text-align: center;
    margin-bottom: 2%;
}