/* Telas pequenas (celulares até 767px) */
@media screen and (max-width: 767px) {
    body {
        width: 100vw;
        height: auto;
        font-size: 4vw;
    }

    section {
        width: 100vw;
        height: auto;
    }

    .logo {
        width: 10vw;
    }

    .contatoContainer {
        height: auto;
        padding: 30px 15px;
        margin-top: 10vw;
    }

    .contatoContainer h1 {
        font-size: 2.5em;
    }

    .contatoContainer small {
        font-size: 1.5em;
    }

    .contatoContainer p {
        font-size: 2em;
        padding: 0 10px;
    }

    .contatoContainer a {
        font-size: 0.9em;
    }

    .contato {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin-top: 2vw;
    }

    .container,
    .containerFixed {
        transform: scaleY(1);
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        font-size: 2vw;
        height: 10%;
    }

    .navFixed {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(44, 29, 29);
        position: fixed;
        width: 100vw;
        top: 0;
        padding: 0;
        gap: 20px;
        z-index: 5;
        transition: all 0.3s ease;
    }

    .containerFixed {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        gap: 10px;
        font-size: 2.5em;
    }

    .navFixed.smaller {
        padding: 4px 50px;
        transform: scaleY(1);
        background-color: rgba(0, 0, 0, 0.863);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        transition: all 0.3s ease;
    }

    .navFixed.smaller .item {
        font-size: 1.5em;
        transition: all 0.3s ease;
    }

    .navFixed.smaller .logo {
        width: 12vw;
        transition: all 0.3s ease;
    }

    .item {
        font-size: 1em;
        margin: 10px 0;
    }

    .logos {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .welcomeFoto {
        width: 80vw;
    }

    .inicioContainer,
    .historiaContainer {
        margin: 5%;
        padding: 10px;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
    }

    p,
    .historiaContainer small,
    .historiaTitle small {
        font-size: 4vw;
    }

    .horarios {
        flex-direction: column;
        margin: 5%;
    }

    .historiaTitle {
        margin: 0 10%;
    }

    iframe {
        width: 100%;
    }

    .galeriaModalContent {
        flex-direction: column;
    }

    #galeriaModal button {
        top: auto;
        bottom: 10px;
        transform: none;
        margin: 0 0.5rem;
    }

    #anterior {
        left: 30%;
    }

    #proximo {
        right: 30%;
    }

    .linha {
        font-size: 1.2em;
        flex-direction: column;
    }

    .linha::before,
    .linha::after {
        display: none;
    }

    .titleParceiros h1 {
        font-size: 2em;
    }

    .titleParceiros {
        padding: 2%;
        flex-direction: column;
    }

    .parceirosGoldContainer,
    .parceirosSilverContainer {
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
    }

    .parceirosGoldContainer a,
    .parceirosSilverContainer a {
        margin: 5% 0;
    }

    .premiosContainer {
        flex-direction: column;
        gap: 5vw;
    }

    .premios {
        width: 20vw;
        height: 20vw;
    }

    .premiosContainer img {
        width: 20vw;
    }

    .premiosTitle {
        font-size: 1.5em;
        text-align: center;
    }

    .inicioContainer {
        background-color: rgba(255, 255, 255, 0.849);
        margin: 0 20%;
        overflow: hidden;
        color: #252314;
        padding: 20px;
        border-radius: 5px;
        transition: 0.8s;
        border: #252314 2px solid;
    }


    .welcomeFoto {
        float: left;
        width: 25vw;
        height: auto;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .reserva {
        width: 20vw;
        height: 30vw;
        top: 8%;
    }
}